@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul id="u7">
    </ul>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
@section Scripts{

    <script src="~/js/travel.js"></script>
    <script>
        const theUl = document.querySelector("#u7")
        const docFrag = document.createDocumentFragment()
        for (let i = 0; i < DATAS.length; i++) {
            const { InfoId, TYWebsite, Name, Toldescribe, Add, Zipcode, Opentime, Px, Py, Website, Parkinginfo, Ticketinfo, Remarks, Tel, Fax, Changetime } = DATAS[i]
            const txtLi = document.createTextNode(Name + "," + Toldescribe + "," + Add)
            const eleLi = document.createElement("li")
            eleLi.appendChild(txtLi)
            docFrag.appendChild(eleLi);

        }
        theUl.appendChild(docFrag)
    </script>

}